!!! 5
html(lang="fr")
    head
        title="To Live Creative"
        style body {background-color:black}
    body
        div(style="width: 250px;height: 400px;position: absolute; top:0; bottom: 0; left: 0; right: 0; margin: auto;")
            h1(style="color:white; text-align:center") To Live Creative
            img(style="display: block; margin-left: auto; margin-right: auto;" src='TLC_LOGO.svg')
            p(style="color:white; text-align:center") Coming soon