!!! 5
html(lang="fr")
    head
        title="To Live Creative"
        style body {background-color:black}
        link(rel="icon" type="image/png" href="favicon.png?v=5")
    body
        div(style="width: 250px; height: 400px;position: absolute; top:0; bottom: 0; left: 0; right: 0; margin: auto; text-align:center;")
            h1(style="color:white;") To Live Creative
            img(style="display: block; margin-left: auto; margin-right: auto;" src='TLC_LOGO_old.svg')
            p(style="color:white;") Coming soon
            a(style="color:white;" target="_blank" href="mailto:Contact@ToLiveCreative.com") Contact@ToLiveCreative.com